<p-toast></p-toast>
<app-loading [visible]="loading"></app-loading>
<div class="card">
  <div class="flex justify-content-center">
    <p-panel header="Lista de Empleados">
      <p-table [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
               [rowsPerPageOptions]="[10, 25, 50]" [columns]="columnasTabla" [value]="employees" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" let-cols>
          <tr>
            <th scope="col" *ngFor="let col of cols">{{ col.header }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employee>
          <tr>
            <td>{{ employee.id }}</td>
            <td>{{ employee.employee_name }}</td>
            <td>{{ employee.employee_salary }}</td>
            <td>{{ employee.employee_age }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>
<p-button (click)="backInicio()" label="Regresar" icon="pi pi-undo" iconPos="right"></p-button>
